body {
    margin: 0;
    padding: 1rem;
    color: #fff;
    background-color: #333;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 2.5rem;
    margin: 2rem 0;
    text-align: center;
    background: linear-gradient(90deg, #00c6ff, #0072ff);
    color: white;
    padding: 1rem;
    border-radius: 0.5rem;
}

h2 {
    text-align: center;
    background: linear-gradient(90deg, #00c6ff, #0072ff);
    color: white;
    padding: 0.5rem;
    border-radius: 0.5rem;
}

footer {
    background-color: #bb074f;
    text-align: center;
    color: white;
    margin-top: 2rem;
    padding: 2rem;
    border-radius: 2rem;
}


.button-conteiner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
}

.button {
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    color: white;
    background: linear-gradient(90deg,#00c6ff, #0072ff);
    border: none;
    border-radius: 0.5rem;
    margin: 1rem 0;
    transition: background 0.3s, transform 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.button:hover {
    background: linear-gradient(90deg, #00c6ff, #0072ff);
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.button-compra {
    padding: 0.75rem 1.5rem;
    font-size: 1.2rem;
    color: white;
    background: linear-gradient(90deg, #00c6ff, #0072ff);
    border: none;
    border-radius: 0.5rem;
    margin: 1rem 0;
    transition: background 0.3s, transform 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: inline-block;
}

.button-compra:hover {
    background: linear-gradient(90deg, #0072ff, #00c6ff);
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.button-conteiner-2 {
    display: flex;
    justify-content: left;
    align-items: center;
}

.button-return {
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    color: white;
    background: linear-gradient(90deg, #00c6ff, #0072ff);
    border: none;
    border-radius: 0.5rem;
    margin: 1rem 0;
    transition: background 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.button-return:hover {
    background: linear-gradient(90deg,#00c6ff, #0072ff);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}


.video-mario {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 2rem 0;
}

.content-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 0;
}

.gallery {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
}

.gallery img {
    max-width: 100px;
    border-radius: 0.5rem;
    object-fit: cover;
}

img {
    display: block;
    margin: 0 auto;
    margin-top: 1rem;
    width: 98%;
    height: auto;
}

.text {
    margin: 2rem 0;
    padding: 1.5rem;
    background-color: #555;
    border-radius: 0.5rem;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    line-height: 1.6;
}

.text-2 {
    margin: 2rem 0;
    padding: 1.5rem;
    background-color: #555;
    border-radius: 0.5rem;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    line-height: 1.6;
}

.text p {
    margin: 1rem 0;
    font-size: 1rem;
    color: #fff;
}
a:visited {
    text-decoration: none;
}
  
a:link {
    text-decoration: none;
}

.pie-de-pagina {
    background-color: #555;
}