
body{
    
    margin: 6rem;
    margin-top: none;
    background-color: #ff0066;
    font-family: Arial, Helvetica, sans-serif;
 }

 h1 {
    color: white;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; 
    background-color: #bb074f;
    border: none;
 
 }

h2 {
    text-align: right;
    margin: 0;
    color: #bb074f;
}

a {
    text-decoration: none;
}



footer {
    background-color: #bb074f;
    text-align: center;
    color: white;
    padding: 2rem;
}

div {
    margin: 0;
    border: 1rem solid #bb074f;
    background-color: white;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.mas-vendidos {
    text-align: left;
    
    color: white;
    background-color: #bb074f;
}



.button-conteiner {
    justify-content: center;
    align-items: center;

    display: flex;
}

.button {
    padding: 15px 10px;
    font-size: 16px;
    color: white;
    background: linear-gradient(90deg, #00ff22, #09f309);
    border: none;
    border-radius: 1rem;
}

.button-conteiner-2 {
    display: flex;
 justify-content: left;
 align-items: center;
}

.button-return {
    padding: 15px 30px;
    font-size: 16px;
    color: white;
    background: linear-gradient(90deg, #09f309, #09f309);
    border: none;
    
}