
body{
    
    margin: 6rem;
    margin-top: none;
    background-color: #ff0066;
    font-family: Arial, Helvetica, sans-serif;
 }

 h1 {
    color: white;
    border-left:1rem solid white;
    border-right: 1rem solid white;
    padding: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; 
    background-color: #bb074f;
   
 
 }

h2 {
    text-decoration: dashed;
    text-align: right;
    margin: 0;
    color: #bb074f;
}

a {
    text-decoration: none;
}



footer {
    background-color: #bb074f;
    text-align: center;
    color: white;
    padding: 2rem;
}

div {
    margin: 0;
    border: 1rem solid #bb074f;
    background-color:  white;
}

img {
    display: flex;   
    margin-left: auto;
    margin-right: auto;
}



.mas-vendidos {
    text-align: left;
    
    color: white;
    background-color: #bb074f;
    
}

.dotted-line {
    width: 98%;
    background-color: white;
    margin: 0;
    border: white;
    border-top: 1px dashed #a10f37;
}

.button-conteiner {
    justify-content: center;
    align-items: center;

    display: flex;
}

.button {
    
    padding:15px 10px;
    font-size: 16px;
    color: white;
    background-color:  #00ff22;
    border: none;
     border-left:32rem solid white;
    border-right: 32rem solid white;
      border-radius: 10px;
}

.button-conteiner-2 {
    display: flex;
 justify-content: left;
 align-items: center;
}

.button-return {
    padding: 15px 30px;
    font-size: 16px;
    color: white;
    background: linear-gradient(90deg, #09f309, #09f309);
     border-right: 64rem solid #bb074f;
    
}

.button-compra {
        padding:15px 10px;
    font-size: 16px;
    color: white;
    background-color:  #00ff22;
    border: none;
     border-left:32rem solid #bb074f;
    border-right: 32rem solid #bb074f;
    
}

.info-compra {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; 
    background-color: #bb074f;
    border-color: #bb074f;
    margin: 0;
}

.pie-de-pagina{
    background-color: rgb(255, 198, 231);
}

.contenedor-video {
    display: block;
    width: 80%;
    margin: 40px auto;
}

